body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

#container {
  width: 1400px;
  margin: auto;
}

pre, code {
  font: 10px/20px Monaco, monospace;
  border: 1px solid #CCC;
  word-wrap: break-word;
  border-radius: 3px;
  background: #F9F9F9;
  padding: 0 3px;
  color: #555;
}

pre { padding: 10px; }

h1, h2 { font-size: 50px; font-weight: bold; }
h2 { font-size: 30px; margin: 100px 0 0 0; }
a { color: inherit; }
.viewer { float: left; width: 300px; height: 420px; background: #EEE; padding: 10px; margin: 10px; }

table { border-collapse: collapse; margin: 0 auto; }
td { padding: 5px; text-align: center; }
td code { background: none; border: none; color: inherit; }
canvas { cursor: move; }