body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0 auto;
}

#title-box {
    background: #DD5500;
}

#title-box h1 {
    padding: none;
    margin: none;
    font-size: 50px;
}

#source-box {
    background: #B10064;
}

#docs-box {
    background: #008E6E;
}

#download-box {
    background: #89CE00;
}

.box {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    color: white;
    height: 240px;
    width: 240px;
}

.box h1 {
    font-size: 40px;
}

.box a {
    color: white;
    text-decoration: none;
}

.inner-box {
    padding: 20px;
    height: 100%;
    width: 100%;
}

.link-box:hover {
    background: #222 !important;
}

.examples {
    background-color: black;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.box img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.picture-box {
    font-size: 28px;
    z-index: 2;
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
    background: rgba(20,20,20,0.8);
    opacity: 0;
}

.picture-box:hover {
    opacity: 1.0;
}